body {
    text-align: center;
<<<<<<< HEAD
    background-color: pink;
=======
    background-color: red;
>>>>>>> header
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3 {
    color:red;
}

.container {
    border: 5px solid blue;
}

